:root {
    --purple:hsl(213, 90%, 80%);
    --light-yellow: hsl(48, 3%, 66%);
    --light-pink: hsl(302, 90%, 90%);
    --black: hsl(233, 21%, 12%);

    --yellow: hsl(49, 85%, 77%);
    --tangerine: hsl(18, 90%, 76%);
    --light-steel-blue: hsl(214, 43%, 78%);
    --apple-green: hsl(97, 41%, 71%);
    --cherry-pink: hsl(343, 81%, 83%);
    
    --tough: var(--yellow);
    --cool: var(--tangerine);
    --beauty: var(--light-steel-blue);
    --cute: var(--cherry-pink);
    --clever: var(--apple-green);

    --accent-color: var(--purple);
    --second-color: var(--light-yellow);
    --text-color: var(--light-pink);
    
    --background-base: var(--black);
    --background-color: var(--background-base);
    --background-second-color: hsl(from var(--background-base) h s calc(l + 10));
    --background-third-color: hsl(from var(--background-base) h s calc(l + 15));
    --background-fourth-color: hsl(from var(--background-base) h s calc(l + 20));
    
    --background-blur-color: hsl(from var(--background-color) h s l / 0.5);
    --background-blur-second-color: hsl(from var(--background-second-color) h s calc(l - 5) / 0.5);

    --background-accent-color: hsl(from var(--accent-color) h s calc(l - 40));
    --background-second-accent-color: hsl(from var(--second-color) h s calc(l - 30));
    
    --box-shadow: 0px 0px var(--large-gap) var(--small-gap) var(--background-color);
    --box-inner-shadow: inset 0 0 10px 2px var(--background-second-color);
    
    --base-gap: 0.5rem;
    --smaller-gap: calc(var(--base-gap) / 4);
    --small-gap: calc(var(--base-gap) / 2);
    --medium-gap: var(--base-gap);
    --grande-gap: calc(var(--base-gap) * 1.5);
    --large-gap: calc(var(--base-gap) * 2);
    --larger-gap: calc(var(--base-gap) * 2.5);

    --max-width: calc(100svw - (var(--large-gap) * 2));

    --transition-duration: 0.25s;
    --transition-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--background-color);
}

body {
    height: 100svh;
    width: 100svw;
    overflow: hidden;

    display: grid;
    grid-template: auto 1fr / 1fr 2fr 1fr;
    gap: var(--large-gap);
    padding: var(--large-gap);
    
    color: var(--text-color);
    background-color: var(--background-color);

    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;

    @media(resolution: 1.25dppx) {
        font-size: 14px;
    }
}

nav,
ul {
    list-style: none;
}

a,
button {
    cursor: pointer;
}

a:link, a:visited {
    color: var(--text-color);
}

button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    color: var(--text-color);
    background-color: var(--background-color);
    border: var(--smaller-gap) solid currentColor;

    border-radius: var(--large-gap);
    padding: var(--medium-gap) var(--large-gap);
    transition: background-color var(--transition-duration) var(--transition-function);

    font-family: monospace;

    &:hover {
        background-color: var(--background-third-color);
    }
}

button.secondary {
    border-color: var(--accent-color);

    &:hover {
        border-color: var(--background-second-color);
        color: var(--backgroud-second-color);
        background-color: var(--accent-color);
    }
}

button.round {
    border: 0;
    aspect-ratio: 1;
    padding: var(--medium-gap);
    border-radius: var(--large-gap);
    background-color: var(--text-color);
}

button.group {
    height: 100%;
    padding-inline: 0;

    &:first-of-type{
        border-radius: var(--small-gap) 0 0 var(--small-gap);
        padding-inline-end: 0;
    }

    &:last-of-type {
        border-radius: 0 var(--small-gap) var(--small-gap) 0;
        padding-inline-start: 0;
    }
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

input[type="text"], input[type="number"], select, textarea {
    height: 100%;
    color: var(--text-color);
    background-color: var(--background-third-color);
    border: none;
    padding: var(--small-gap) var(--medium-gap);
    border-radius: var(--small-gap);
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

input[type="text"] {
    width: 100%;
}

input[type="number"] {
    width: 5rem;
    &::-moz-number-spin-box, & > ::shadow div {
        display: none;
    }
}

input[type="checkbox"]:not(.switch) {
    cursor: pointer;
    accent-color: var(--text-color);
    aspect-ratio: 1;
    width: var(--larger-gap);
    transition: accent-color var(--transition-duration) var(--transition-function);

    &:hover {
        accent-color: var(--accent-color);
    }
}

textarea {
    resize: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    padding-inline-start: var(--medium-gap);
    text-shadow: 0px 0px var(--large-gap) var(--background-color);

    &:not(:first-child) {
        margin-block-start: var(--large-gap);
    }
}

h1 {
    box-shadow: inset 0 -0.75em 0 var(--background-accent-color);

}

h2 {
    box-shadow: inset 0 -0.75em 0 var(--background-second-accent-color);
}

q {
    margin-block: var(--large-gap);
    font-style: italic;
    quotes: '« ' ' »';
}

fieldset {
    border: 0;
}

img {
    &.sprite {
        object-position: 0px -0.75rem;
    }
}

*:has(> .wrapper), .wrapper > * {
    min-height: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--small-gap);
}

.wrapper {
    position: relative;

    height: 100%;
    width: 100%;
    border-radius: var(--large-gap);
    padding: var(--medium-gap) var(--medium-gap);
    background-color: var(--background-second-color);
    
    &:not(> .wrapper) {
        border: 2px solid var(--accent-color);
    }

    &[data-title] {
        min-height: 0;
        min-width: 0;
        padding: var(--larger-gap) var(--large-gap) var(--large-gap) var(--large-gap);
        
        &::before {
            content: attr(data-title);
            position: absolute;
            top: calc(var(--large-gap) * -1);
            left: var(--large-gap);

            color: var(--background-color);
            border: var(--smaller-gap) solid var(--background-third-color);
            background-color: var(--accent-color);

            text-transform: capitalize;
            border-radius: var(--large-gap);
            padding: var(--small-gap) var(--medium-gap);
        }
    }
}

.data-output {
    border-radius: var(--small-gap);
    border: var(--small-gap) solid transparent;
    padding: var(--small-gap);
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: var(--large-gap);

    & > thead {
        position: sticky;
        top: 0;
        z-index: 2;
        
        & > tr > th {
            padding-block: var(--large-gap);
            background-color: var(--background-color);

        }
    }

    & > tbody {
        & > tr {
            &:nth-child(odd) {
                background-color: var(--background-third-color);
            }
            &:nth-child(even) {
                background-color: var(--background-fourth-color);
            }
        }

        & > tr > td {
            padding-block: var(--medium-gap);
        }
    }
}